*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

@import "variables/variables";

@import "sass2/extend";
@import "sass2/maps";
@import "sass2/mixins";

@import "partials/footer";
@import "partials/header";
@import "partials/tabla";
@import "partials/noticia1";
@import "partials/flexindex";
@import "partials/titulo";
@import "./partials/basquet/imgbasquet";
