$size: 20px;
$fondo-de-color: linear-gradient(to right, white, red, orange, red, white);
$ancho: 100%;
$amarillo: yellow;
$negro: black;
$alinear-a-la-derecha: right;

$font-sizedropdown: large;
$borderdropdown: 1px solid yellow;
$paddingdropdown: 5px;
$margindropdown: 5px 10px 15px 20px;
$displaydropdown: flex;
$justify-contentdropdown: center;

$borderV: 5px solid yellow;
$widthV: 560px;
$heightV: 315px;
$margin-leftV: 670px;
$margin-topV: 20px;

$HTML: linear-gradient(to right, #6e0602, #6e0602);

$leftCarrusel: 737px;
$topCarrusel: 15px;

