$size: 20px;
$fondo-de-color: linear-gradient(to right, white, red, orange, red, white);
$ancho: 100%;
$amarillo: yellow;
$negro: black;
$alinear-a-la-derecha: right;
$font-sizedropdown: large;
$borderdropdown: 1px solid yellow;
$paddingdropdown: 5px;
$margindropdown: 5px 10px 15px 20px;
$font-familydropdown: 'Oswald', sans-serif;
$displaydropdown: flex;
$justify-contentdropdown: center;