/*Contacto*/

.label {
    margin: 5px;
    color: yellow;
    font-family: 'Roboto Mono', monospace;
    background-color: black;
}

fieldset {
    border: 5px solid yellow;
    border-style: double;
    background-color: black;
    width: 0px;
    padding: 10px;
}

.news {
    background-color: black;
    margin-bottom: 15px;
}