$color: yellow;

footer{
    color: $color;
    font-size: large;
    font-family: 'Oswald', sans-serif;
    margin-top: 15px;
    border: 3px solid yellow;
    border-style: double;
    background-color: black;
    width: 410px;
    address a{
        text-decoration: none;
        color: $color;
        font-family: 'Oswald', sans-serif;
        &:hover{
            color: white;
        }
    }
}

.footercontacto {
    text-align: right;
    background-color: black;
    color: yellow;
    font-size: large;
    margin-right: 50px;
    font-family: 'Oswald', sans-serif;
}

.footerfutbol {
    text-align: right;
    margin-top: 100px;
    background-color: black;
    color: yellow;
    font-size: large;
    margin-right: 50px;
    font-family: 'Oswald', sans-serif;
}