$color: yellow;

footer{
    color: $color;
    font-size: large;
    font-family: 'Oswald', sans-serif;
    margin-top: 15px;
    border: 3px solid yellow;
    border-style: double;
    background-color: black;
    width: 410px;
    address a{
        text-decoration: none;
        color: $color;
        font-family: 'Oswald', sans-serif;
        &:hover{
            color: white;
        }
    }
}