@import "../variables/variables";


.dropdown {
    background-color: $negro;
    color: $amarillo;
    font-size: $font-sizedropdown;
    border: $borderdropdown;
    padding: $paddingdropdown;
    margin: $margindropdown;
    display: $displaydropdown;
    justify-content: $justify-contentdropdown;
}

.video{
border: $borderV;
width: $widthV;
height: $heightV;
margin-left: $margin-leftV;
margin-top: $margin-topV;
}

.boton {
    background-color: $negro;
    color: $amarillo;
}

html {
    background-image: $HTML;
}

.carrusel {
    margin-left: $leftCarrusel;
    margin-top: $topCarrusel;
}