@import "../variables/variables";


@mixin estilos-de-anclas {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

@mixin imgbasquet {
    border: 5px solid yellow;
    width: 200px;
    height: 200px;
    margin-top: 30px;
    margin-right: 100px;
    margin-left: 100px;
}